<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="javascript/registration.js" type="text/javascript"></script>
</head>
<body>
    <div class="registration-form container">
        <form id="myRegistrationForm">
            <h1>Registration</h1>
            <div>
                <label for="firstname">First Name: </label>
                <input type="text" name="firstName" id="firstName">
            </div>
            <div>
                <label for="lastname">Last Name: </label>
                <input type="text" name="lastName" id="lastName">
            </div>
            <div>
                <label for="email">Email: </label>
                <input type="email" name="email" id="email">
            </div>
            <div>
                <label for="password">Password: </label>
                <input type="password" name="password" id="password">
            </div>
            <!-- <div>
                <label for="password2">Confirm Password: </label>
                <input type="password" name="password2" id="password2">
            </div> -->
            <div>
                <label for="authtoken">Authentication Token: </label>
                <input type="text" name="authtoken" id="authtoken">
            </div>
            <div>
                <input type="button" id="reg" value="Register">        
            </div>
            <div>
                <label for="login">Already have an account? </label>
                <input type="button" id="proceedToLoginBtn" value="Log In">
            </div>
        </form>
    </div>
</body>
</html>