<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer type="text/javascript" src="/javascript/registration.js"></script>
    <link rel="stylesheet" href="css/registration.css">
</head>
<body>
    <div id="flex-container">
        <h1>Registration</h1>
        <form id="myRegistrationForm">
            <div>
                <label for="firstname">First Name: </label>
                <input type="text" name="firstName" id="firstName">
            </div>
            <div>
                <label for="lastname">Last Name: </label>
                <input type="text" name="lastName" id="lastName">
            </div>
            <div>
                <label for="email">Email: </label>
                <input type="email" name="email" id="email">
            </div>
            <div>
                <label for="password">Password: </label>
                <input type="password" name="password" id="password">
            </div>
            <div>
                <label for="authtoken">Authentication Token: </label>
                <input type="text" name="authtoken" id="authtoken">
            </div>
            <div>
                <input type="button" id="reg" value="Register">        
            </div>
            <div id="message">
                <label for="login">Already have an account? </label>
            </div>
                <input type="button" id="proceedToLoginBtn" value="Log In">
        </form>
    </div>
</body>
</html>